<%= render partial: 'shared/page_title', locals: { page_title: "#{@current_user.name}さんの保存済のお店" } %>

<div class="list">
  <div class="wrap-sm">
    <h2 class="list__heading">保存済みのお店</h2>
    <div class="list__contents">
      <% @restaurants.each do |restaurant| %>
      <%= link_to show_restaurant_path(restaurant), class: 'contents', target: :blank do %>
      <div class="list__item flex">
        <div class="list__img">
          <% if restaurant.image? %>
          <%= image_tag restaurant.image.url %>
          <% end %>
        </div>
        <div class="list__mass">
          <% if check_keep_restaurant(@current_user, restaurant.id) %>
          <%= button_to remove_keep_restaurant_path(@current_user.id, restaurant.id), method: :delete, class: 'contents' do %>
          <span title="<%= check_keep_restaurant(@current_user, restaurant.id) ? 'このお店の保存を外す' : 'このお店を保存する' %>" class="<%= 'done' if check_keep_restaurant(@current_user, restaurant.id) %>"><i class="far fa-bookmark fa-border"></i></span>
          <% end %>
          <% else %>
          <%= button_to keep_restaurant_path(@current_user.id, restaurant.id), method: :post, class: 'contents' do %>
          <span title="<%= check_keep_restaurant(@current_user, restaurant.id) ? 'このお店の保存を外す' : 'このお店を保存する' %>" class="<%= 'done' if check_keep_restaurant(@current_user, restaurant.id) %>"><i class="far fa-bookmark fa-border"></i></span>
          <% end %>
          <% end %>
          <h3><%= restaurant.name %></h3>
          <p>
            <%= restaurant.area.name %>&nbsp;/&nbsp;<%= restaurant.genre.name %>
          </p>
          <div class="basic-rule"></div>
          <p>
            <%= restaurant.remarks %>
          </p>
        </div>
      </div>
      <% end %>
      <% end %>
      <%= paginate @restaurants %>
    </div>
  </div>
</div>
